@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap");
* {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  font-family: "Ubuntu", sans-serif;
  color: #fff;
  cursor: default;
}

h1 {
  margin: 15rem 0 0 0;
  font-size: 50px;
  text-align: center;
  transition: margin 200ms, font-size 200ms;
}

.lock-btn {
  background: transparent;
  border: 1.2px solid #bbb;
  border-radius: 5px;
  padding: 7px 17px;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  transition: margin 200ms, opacity 200ms;
}
.lock-btn:hover {
  margin: -4px 0 0 0;
}

.content {
  pointer-events: none;
  opacity: 0;
  transition: opacity 200ms;
}

.weather {
  border: 1.2px solid #bbb;
  border-radius: 5px;
  padding: 17px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  background: rgba(0, 0, 0, 0.4);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  transform: scale(0);
  transition: transform 200ms;
}
.weather input, .weather button {
  outline: none;
  background: transparent;
  border: 1px solid #bbb;
  border-radius: 5px;
  padding: 7px;
}

.terminal {
  background: rgba(0, 0, 0, 0.4);
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  padding: 7px;
  border: 1px solid #bbb;
  border-radius: 5px;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  overflow: hidden;
  margin: -14.65rem 4.5rem;
  transform: scale(0);
  transition: transform 200ms;
}
.terminal textarea {
  background: transparent;
  outline: none;
  border-radius: 5px;
  padding: 6px;
  margin: 2px 0 0 0;
  width: 93%;
  height: 9rem;
  resize: none;
}
.terminal input {
  outline: none;
  border: 1px solid #343836;
  border-radius: 5px;
  background: transparent;
  padding: 6px 17px;
}
.terminal span {
  position: absolute;
  margin: 4px;
  color: #bbb;
}

.opened {
  transform: scale(1);
}

hr {
  border-color: #bbb;
}

.apps-sort {
  display: inline-flex;
}
.apps-sort .app {
  transition: transform 200ms;
}
.apps-sort .app:active {
  transform: scale(0.8);
}

.icon-title {
  margin: 0 5px;
}

.ctx-menu {
  background: rgba(0, 0, 0, 0.4);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  padding: 11px;
  border: 1px solid #000;
  border-radius: 5px;
  position: fixed;
  opacity: 0;
  pointer-events: none;
  transition: opacity 200ms;
}
.ctx-menu .option {
  padding: 7px;
  border-radius: 5px;
  transition: background 200ms;
}
.ctx-menu .option:hover {
  background: rgba(0, 0, 0, 0.4);
}

.ctx-menu.active {
  opacity: 1;
  pointer-events: all;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: #5e5e5e;
  border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
  background: #505050;
}
::-webkit-scrollbar-thumb:active {
  background: #4d4d4d;
}

::-webkit-scrollbar-corner {
  background: none;
}/*# sourceMappingURL=style.css.map */